.cropper-view-box{
  outline: 5px solid white !important;
}
.cropper-point{
  border-radius: 50%;
  background-color: white !important;
  height: 10px !important;
  width: 10px !important;
}
.point-n, .point-s{
  margin-left: -5px !important;
}
.point-n, .point-nw, .point-ne {
  top: -7px !important;
}
.point-s, .point-sw, .point-se{
  bottom: -7px !important;
}
.point-nw, .point-sw, .point-w{
  left: -7px !important;
}
.point-w, .point-e{
  margin-top: -5px !important;
}
.point-ne, .point-se, .point-e {
  right: -7px !important;
}
