.input-light-grey{
  border-radius: 20px;
  border: 0;
  background-color: #F5F5F5;
  padding: 10px 20px;
  margin: 5px 0;
  input{
    font-size: 15px;
    background: 0;
    border: 0;
    color: #778899;
    padding-left: 0.5rem;
  }
}